<p>
  <span>Dynamic NFT Onboarding Program for Decentralized Communities. </span
  ><br /><br /><span>
    Welcome to the forefront of decentralized community engagement! Our
    pioneering Onboarding Program seamlessly integrates the power of
    Non-Fungible Tokens (NFTs) issued by Underdog and renewed by SpherePay,
    ensuring an unparalleled experience for newcomers. Prepare to embark on a
    journey that combines innovation, engagement, and rewards, all wrapped up in
    the dynamic world of blockchain technology.
  </span>
</p>
<br />
<p><span style="color: rgb(219, 222, 225)">Github Repositories Links:</span></p>
<ol>
  <li>
    <p>
      <span style="color: rgb(219, 222, 225)">Business Visa Frontend -</span
      ><a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://github.com/Dean-s-List/business-visa-app"
        ><span style="color: rgb(219, 222, 225)">
          https://github.com/Dean-s-List/business-visa-app</span
        ></a
      >
    </p>
  </li>
  <li>
    <p>
      <span style="color: rgb(219, 222, 225)">Business Visa Server - </span
      ><a
        target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://github.com/Dean-s-List/business-visa-server"
        ><span style="color: rgb(219, 222, 225)"
          >https://github.com/Dean-s-List/business-visa-server</span
        ></a
      >
    </p>
  </li>
</ol>
<p>Description:</p>
<ol>
  <li>
    <p><span>Underdog NFTs - Dynamic, Unique, and Expressive:</span></p>
  </li>
</ol>
<p>
  <span style="color: rgb(219, 222, 225)"
    >Upon completing our user-friendly onboarding form, participants are primed
    to receive a distinctive NFT powered by Underdog. These NFTs are more than
    static images; they're dynamic artworks that can evolve over time, with both
    the image and metadata being adjustable. This customization ensures that
    each NFT becomes an authentic representation of the holder's journey and
    contributions.
  </span>
</p>
<ol start="2">
  <li>
    <p><span>Real-time Status Updates and USDC Earnings:</span></p>
  </li>
</ol>
<p>
  <span style="color: rgb(219, 222, 225)"
    >The heart of our program lies in its ability to capture real-time
    interactions. Each NFT functions as a portal into the participant's
    engagement journey. A status indicator distinguishes between "active" and
    "expired" NFTs, signifying the participant's current involvement within the
    community. Additionally, USDC earnings, sourced from on-chain data, are
    showcased on the NFT, offering an instant glimpse of rewards earned through
    active participation.
  </span>
</p>
<ol start="3">
  <li>
    <p><span>Custom Expiry and Renewal:</span></p>
  </li>
</ol>
<p>
  <span style="color: rgb(219, 222, 225)"
    >NFTs come with a unique twist—expiration! Our system allows you to
    customize the duration of each NFT's active status (ours is set at 30 days
    by default). As the expiration date approaches, the NFT transitions to
    "expired" status. But fear not, the journey doesn't end there.
  </span>
</p>
<ol start="4">
  <li>
    <p><span>Renewal with Sphere Pay:</span></p>
  </li>
</ol>
<p>
  <span style="color: rgb(219, 222, 225)"
    >Expired NFT holders can rejuvenate their community journey through renewal.
    To ensure continuity and commitment, a renewal cost is introduced, payable
    in USDC. Thanks to a seamless integration with Sphere Pay's payment
    implementation, the renewal process becomes a breeze, enabling participants
    to effortlessly extend their community engagement.
  </span>
</p>
<ol start="5">
  <li>
    <p><span>Non-Transferable Exclusive NFTs:</span></p>
  </li>
</ol>
<p>
  <span style="color: rgb(219, 222, 225)"
    >The essence of these NFTs lies in their exclusivity. Each NFT is
    non-transferable, firmly anchoring it to the holder's identity and journey.
    This distinct feature reinforces authenticity, prevents resale, and
    underscores the value of active participation. Step into the future of
    decentralized community building with our Business Visa Program. Elevate
    your experience, engage authentically, and embrace the dynamic potential of
    blockchain technology. Your journey starts here—your NFT awaits.</span
  >
</p>
