:root {
    --subhead-fg-tertiary: var(--color-fg-tertiary);
    --avatar-label-description: var(--color-fg-secondary);
    --avatar-label-subtitle: var(--color-fg-tertiary);
    --avatar-label-title: var(--color-fg-primary);
    --avatar-group-text: var(--color-fg-primary);
    --avatar-group-surface-tertiary: var(--color-surface-muted);
    --avatar-group-surface-secondary: var(--color-surface-overlay);
    --avatar-group-surface-primary: var(--color-surface-tertiary);
    --avatar-status-icon: var(--color-fg-info);
    --avatar-status: var(--color-bg-primary);
    --avatar-surface: var(--color-surface-tertiary);
    --button-success-border-focused: var(--green-500);
    --button-success-text-disabled: var(--neutral-400);
    --button-success-text-focused: var(--black);
    --button-success-text-hovered: var(--black);
    --button-success-text-default: var(--black);
    --button-success-surface-disabled: var(--color-fg-success-secondary);
    --button-success-surface-focused: var(--color-bg-success);
    --button-success-surface-hovered: var(--color-bg-success);
    --button-success-surface-default: var(--color-bg-success);
    --button-danger-border-focused: var(--red-500);
    --button-danger-text-disabled: var(--neutral-500);
    --button-danger-text-focused: var(--white);
    --button-danger-text-hovered: var(--white);
    --button-danger-text-default: var(--white);
    --button-danger-surface-disabled: var(--color-fg-error-secondary);
    --button-danger-surface-focused: var(--color-bg-error);
    --button-danger-surface-hovered: var(--color-bg-error);
    --button-danger-surface-default: var(--color-bg-error);
    --tab-border-active: var(--color-fg-primary-depth);
    --tab-surface-inactive: var(--color-bg-primary-subdued);
    --tab-surface-active: var(--color-surface-cool-base);
    --tab-fg-inactive: var(--color-fg-primary-subdued);
    --tab-fg-active: var(--color-fg-primary-depth);
    --subhead-fg-secondary: var(--color-fg-secondary);
    --subhead-fg-primary: var(--color-fg-primary);
    --tag-solid-border-purple: var(--neutral-900);
    --tag-subtle-border-blue: var(--neutral-900);
    --tag-subtle-border-red: var(--neutral-900);
    --tag-subtle-border-orange: var(--neutral-900);
    --tag-subtle-border-yellow: var(--neutral-900);
    --tag-subtle-border-green: var(--neutral-900);
    --tag-subtle-border-default: var(--neutral-900);
    --tag-subtle-icon-purple: var(--neutral-900);
    --tag-subtle-icon-blue: var(--neutral-900);
    --tag-subtle-icon-red: var(--neutral-900);
    --tag-subtle-icon-orange: var(--neutral-900);
    --tag-subtle-icon-yellow: var(--neutral-900);
    --tag-subtle-icon-green: var(--neutral-900);
    --tag-subtle-text-purple: var(--color-fg-purple-secondary);
    --tag-subtle-icon-default: var(--neutral-900);
    --tag-subtle-text-blue: var(--color-fg-info-secondary);
    --tag-subtle-text-red: var(--color-fg-error-secondary);
    --tag-subtle-text-orange: var(--color-fg-warning-secondary);
    --tag-subtle-text-yellow: var(--color-fg-alert-secondary);
    --tag-subtle-text-green: var(--color-fg-success-secondary);
    --tag-subtle-text-default: var(--color-bg-inverse);
    --alert-subtle-surface-purple: var(--neutral-900);
    --tag-solid-border-blue: var(--neutral-900);
    --alert-solid-border-red: var(--neutral-900);
    --tag-solid-border-orange: var(--neutral-900);
    --tag-solid-border-yellow: var(--neutral-900);
    --tag-solid-border-green: var(--neutral-900);
    --tag-solid-icon-purple: var(--neutral-900);
    --tag-solid-border-default: var(--neutral-900);
    --tag-solid-icon-blue: var(--neutral-900);
    --tag-solid-icon-red: var(--neutral-900);
    --tag-solid-icon-orange: var(--neutral-900);
    --tag-solid-icon-yellow: var(--neutral-900);
    --tag-solid-icon-green: var(--neutral-900);
    --tag-solid-text-purple: var(--white);
    --tag-solid-icon-default: var(--neutral-900);
    --tag-solid-text-blue: var(--blue-50);
    --tag-solid-text-red: var(--red-50);
    --tag-solid-text-orange: var(--orange-50);
    --tag-solid-text-yellow: var(--black);
    --tag-solid-text-green: var(--black);
    --tag-solid-text-default: var(--subhead-fg-primary);
    --form-switch-border-disabled-off: var(--color-surface-tertiary);
    --form-switch-border-disabled-on: var(--color-bg-info);
    --form-switch-border-focused-off: var(--color-surface-tertiary);
    --form-switch-border-focused-on: var(--color-bg-info);
    --form-switch-border-hovered-off: var(--color-surface-tertiary);
    --form-switch-border-hovered-on: var(--color-bg-info);
    --form-switch-border-default-off: var(--color-border-secondary);
    --form-switch-border-default-on: var(--color-bg-info);
    --form-switch-button-disabled-off: var(--white);
    --form-switch-button-disabled-on: var(--white);
    --form-switch-button-focused-off: var(--white);
    --form-switch-button-focused-on: var(--white);
    --form-switch-button-default-off: var(--white);
    --form-switch-button-default-on: var(--white);
    --form-switch-surface-disabled-off: var(--color-surface-tertiary);
    --form-switch-surface-disabled-on: var(--color-interaction-primary);
    --form-switch-surface-focused-off: var(--color-surface-tertiary);
    --form-switch-surface-focused-on: var(--color-interaction-primary);
    --form-switch-surface-default-off: var(--color-border-secondary);
    --form-switch-surface-default-on: var(--color-interaction-primary);
    --form-uploader-text-error: var(--color-fg-error);
    --form-uploader-text-warning: var(--color-fg-warning);
    --form-uploader-text-success: var(--color-fg-success);
    --form-uploader-text-uploading: var(--color-fg-primary);
    --form-uploader-text-dropping: var(--color-fg-primary);
    --form-uploader-text-default: var(--color-fg-primary);
    --form-uploader-link-error: var(--color-interaction-primary);
    --form-uploader-link-warning: var(--color-interaction-primary);
    --form-uploader-link-success: var(--color-interaction-primary);
    --form-uploader-link-uploading: var(--color-interaction-primary);
    --form-uploader-link-dropping: var(--color-interaction-primary);
    --form-uploader-link-default: var(--color-interaction-primary);
    --form-uploader-img-error: var(--color-surface-warn);
    --form-uploader-img-warning: var(--color-surface-warn);
    --form-uploader-img-success: var(--colors-surface-success);
    --form-uploader-img-uploading: var(--color-surface-hovered);
    --form-uploader-img-dropping: var(--color-surface-hovered);
    --form-uploader-img-default: var(--color-surface-tertiary);
    --form-uploader-icon-error: var(--color-fg-error);
    --form-uploader-icon-warning: var(--color-fg-warning);
    --form-uploader-icon-success: var(--color-fg-success);
    --form-uploader-icon-dropping: var(--color-fg-success);
    --form-uploader-icon-uploading: var(--color-fg-success);
    --form-uploader-icon-default: var(--color-fg-info);
    --form-uploader-border-error: var(--color-border-secondary);
    --form-uploader-border-danger: var(--color-border-secondary);
    --form-uploader-border-success: var(--color-border-secondary);
    --form-uploader-border-uploading: var(--color-border-secondary);
    --form-uploader-border-dropping: var(--color-border-secondary);
    --form-uploader-border-default: var(--color-border-secondary);
    --form-uploader-surface-uploading: var(--color-surface-tertiary);
    --form-uploader-surface-dropping: var(--color-surface-tertiary);
    --form-checkbox-border-disabled: var(--color-interaction-muted);
    --form-checkbox-border-focused: var(--color-border-primary);
    --form-checkbox-border-hovered: var(--color-border-secondary);
    --form-checkbox-border-default: var(--form-input-border-default);
    --form-checkbox-icon-disabled: var(--color-bg-inverse);
    --form-checkbox-icon-focused: var(--color-bg-primary);
    --form-checkbox-icon-hovered: var(--color-bg-primary);
    --form-checkbox-icon-default: var(--color-bg-primary);
    --form-checkbox-surface-disabled-checked: var(--color-interaction-muted);
    --form-checkbox-surface-disabled: var(--color-interaction-muted);
    --form-checkbox-surface-focused-checked: var(--color-interaction-primary);
    --form-checkbox-surface-hovered-checked: var(--color-interaction-primary);
    --form-checkbox-surface-hovered: var(--color-border-secondary);
    --form-checkbox-surface-default-checked: var(--color-interaction-primary);
    --form-input-border-disabled: var(--color-border-primary);
    --form-checkbox-surface-default: var(--form-input-surface-default);
    --form-input-border-error: var(--color-border-error);
    --form-input-border-focused: var(--color-border-focus);
    --form-input-border-hovered: var(--color-border-hovered);
    --form-input-border-default: var(--color-border-primary);
    --form-input-placeholder-disabled: var(--color-fg-muted);
    --form-input-placeholder-error: var(--color-placeholder-primary);
    --form-input-placeholder-focused: var(--color-placeholder-primary);
    --form-input-placeholder-hovered: var(--color-placeholder-primary);
    --form-input-placholder-default: var(--color-placeholder-primary);
    --form-helper-info: var(--color-bg-info);
    --form-helper-warning: var(--color-fg-warning);
    --form-helper-error: var(--color-fg-error);
    --form-helper-success: var(--color-fg-success);
    --form-helper-default: var(--color-fg-tertiary);
    --form-input-fg-disabled: var(--color-fg-muted);
    --form-input-fg-error: var(--color-fg-primary);
    --form-input-fg-focused: var(--color-fg-primary);
    --form-input-fg-hovered: var(--color-fg-primary);
    --form-input-fg-default: var(--color-fg-primary);
    --form-input-surface-disabled: var(--color-surface-muted);
    --form-input-surface-error: var(--color-surface-secondary);
    --form-input-surface-focused: var(--color-surface-secondary);
    --form-input-surface-hovered: var(--color-surface-secondary);
    --form-input-surface-default: var(--color-surface-secondary);
    --text-tertiary: var(--color-fg-tertiary);
    --text-secondary: var(--color-fg-secondary);
    --text-primary: var(--color-fg-primary);
    --navbar-fg-inactive: var(--color-fg-tertiary);
    --navbar-fg-active: var(--color-fg-primary);
    --navbar-surface: var(--color-surface-primary);
    --alert-cancel: var(--color-fg-primary-subdued);
    --tag-subtle-surface-purple: var(--color-surface-purple-secondary);
    --tag-subtle-surface-blue: var(--color-surface-info-secondary);
    --tag-subtle-surface-red: var(--color-surface-error-secondary);
    --tag-subtle-surface-orange: var(--color-surface-warn-secondary);
    --tag-subtle-surface-yellow: var(--color-surface-alert-secondary);
    --tag-subtle-surface-green: var(--colors-surface-success-secondary);
    --tag-subtle-surface-default: var(--color-bg-secondary);
    --tag-solid-surface-purple: var(--color-bg-purple);
    --tag-solid-surface-blue: var(--color-bg-info);
    --tag-solid-surface-red: var(--color-bg-error);
    --tag-solid-surface-orange: var(--color-bg-warning);
    --tag-solid-surface-yellow: var(--color-bg-alert);
    --tag-solid-surface-green: var(--color-bg-success);
    --tag-solid-surface-default: var(--color-surface-primary);
    --alert-loading-border: var(--color-border-innovative-base);
    --alert-loading-icon-stroke: var(--color-surface-innovative-base);
    --alert-loading-icon-fill: var(--color-fg-innovative-base);
    --alert-loading-text: var(--color-fg-innovative-alt-base);
    --alert-loading-title: var(--color-bg-innovative-emphasis);
    --alert-loading-surface: var(--color-surface-innovative-base);
    --alert-success-border: var(--color-border-positive-base);
    --alert-success-icon-stroke: var(--color-surface-positive-base);
    --alert-success-icon-fill: var(--color-fg-positive-base);
    --alert-success-text: var(--color-fg-positive-alt-base);
    --alert-success-title: var(--color-fg-positive-emphasis);
    --alert-info-border: var(--color-border-info-base);
    --alert-success-surface: var(--color-surface-positive-base);
    --alert-error-icon-stroke: var(--color-surface-negative-base);
    --alert-error-icon-fill: var(--color-fg-negative-base);
    --alert-error-text: var(--color-fg-negative-alt-base);
    --alert-error-title: var(--color-fg-negative-base);
    --alert-error-surface: var(--color-surface-negative-base);
    --alert-warning-border: var(--color-border-caution-base);
    --alert-warning-icon-stroke: var(--color-surface-caution-base);
    --alert-warning-icon-fill: var(--color-bg-caution-base);
    --alert-info-icon-stroke: var(--color-surface-info-base);
    --alert-warning-text: var(--color-fg-caution-alt-base);
    --alert-info-icon-fill: var(--color-fg-info-base);
    --alert-info-text: var(--color-fg-info-alt-base);
    --alert-warning-title: var(--color-fg-caution-emphasis);
    --alert-info-title: var(--color-fg-info-emphasis);
    --alert-warning-surface: var(--color-surface-caution-base);
    --button-link-text-disabled: var(--color-fg-muted);
    --alert-info-surface: var(--color-surface-info-base);
    --button-link-text-hovered: var(--color-fg-tertiary);
    --button-link-text-default: var(--color-fg-primary);
    --button-tertiary-border-focused: var(--blue-500);
    --button-outline-border-disabled: var(--color-border-primary);
    --button-outline-border-focused: var(--color-bg-info);
    --button-outline-border-hovered: var(--color-fg-primary);
    --button-outline-border-default: var(--color-border-primary);
    --button-secondary-border-focused: var(--blue-500);
    --button-primary-border-focused: var(--blue-500);
    --button-tertiary-text-disabled: var(--color-fg-muted);
    --button-tertiary-text-focused: var(--color-fg-primary);
    --button-tertiary-text-hovered: var(--color-fg-primary);
    --button-tertiary-text-default: var(--color-fg-primary);
    --button-outline-text-disabled: var(--color-fg-muted);
    --button-outline-text-focused: var(--color-fg-primary);
    --button-outline-text-hovered: var(--color-fg-secondary);
    --button-outline-text-default: var(--color-fg-primary);
    --button-secondary-text-disabled: var(--color-fg-muted);
    --button-secondary-text-focused: var(--color-fg-primary);
    --button-secondary-text-hovered: var(--color-fg-primary);
    --button-secondary-text-default: var(--color-fg-primary);
    --button-tertiary-surface-hovered: var(--color-surface-tertiary);
    --button-secondary-surface-disabled: var(--color-bg-overlay);
    --button-secondary-surface-focused: var(--color-surface-hovered);
    --button-secondary-surface-hovered: var(--color-bg-overlay);
    --button-secondary-surface-default: var(--color-surface-hovered);
    --button-primary-text-disabled: var(--color-fg-muted);
    --button-primary-text-focused: var(--color-fg-inverse);
    --button-primary-text-hovered: var(--color-fg-primary);
    --button-primary-text-default: var(--color-fg-inverse);
    --button-primary-surface-disabled: var(--color-surface-muted);
    --button-primary-surface-focused: var(--color-surface-primary-inverse);
    --button-primary-surface-hovered: var(--color-surface-hovered);
    --button-primary-surface-default: var(--color-surface-primary-inverse);
}