html[class="dark"], :root {
    --Color: #FFFFFF;
    --color-feedback-warning-shade: #FFFFFF;
    --color-feedback-warning-tint: #FFFFFF;
    --color-feedback-warning-base: #FFFFFF;
    --color-feedback-danger-shade: #FFFFFF;
    --color-feedback-danger-tint: #FFFFFF;
    --color-feedback-danger-base: #FFFFFF;
    --color-status-down: #FFFFFF;
    --color-status-degraded: #FFFFFF;
    --color-status-healthy: #FFFFFF;
    --color-status-limited: #FFFFFF;
    --color-status-uinavailable: #FFFFFF;
    --color-status-available: #FFFFFF;
    --color-status-stopped: #FFFFFF;
    --color-status-paused: #FFFFFF;
    --color-status-completed: #FFFFFF;
    --color-status-in_progress: #FFFFFF;
    --color-status-pending: #FFFFFF;
    --color-status-rejected: #FFFFFF;
    --color-status-approved: #FFFFFF;
    --color-status-upcoming: #FFFFFF;
    --color-status-live: #FFFFFF;
    --color-status-busy: #FFFFFF;
    --color-status-ofline: #FFFFFF;
    --color-status-online: #FFFFFF;
    --color-feedback-success-shade: #FFFFFF;
    --color-feedback-success-tint: #FFFFFF;
    --color-feedback-success-base: #FFFFFF;
    --color-feedback-success-light: #FFFFFF;
    --color-surface-primary-inverse: var(--white);
    --color-interaction-muted: var(--color-neutral-800);
    --color-interaction-tertiary: var(--color-yellow-500);
    --color-interaction-secondary: var(--color-purple-500);
    --color-interaction-primary: var(--color-blue-500);
    --color-placeholder-muted: var(--color-neutral-800);
    --color-placeholder-primary: var(--color-neutral-700);
    --color-border-divider: var(--color-neutral-800);
    --color-border-purple: var(--color-purple-700);
    --color-border-warn: var(--color-green-900);
    --color-border-alert: var(--color-yellow-900);
    --color-border-error: var(--color-red-500);
    --color-border-success: var(--color-green-900);
    --color-border-hovered: var(--color-neutral-500);
    --color-border-focus: var(--color-neutral-100);
    --color-border-tertiary: #FFFFFF;
    --color-border-inverse: var(--color-neutral-250);
    --color-border-secondary: var(--color-neutral-700);
    --color-border-primary: var(--color-neutral-800);
    --color-fg-yellow: #FFFFFF;
    --color-fg-purple: #FFFFFF;
    --color-fg-orange: #FFFFFF;
    --color-fg-red: #FFFFFF;
    --color-fg-blue: #FFFFFF;
    --color-fg-green: var(--color-green-50);
    --color-fg-overlay: #FFFFFF;
    --color-fg-inverse: var(--color-neutral-950);
    --color-fg-muted: var(--color-neutral-800);
    --color-fg-purple-secondary: var(--color-purple-400);
    --color-fg-purple: var(--color-purple-500);
    --color-fg-info-secondary: var(--color-blue-400);
    --color-fg-info: var(--color-blue-500);
    --color-fg-alert-secondary: var(--color-yellow-400);
    --color-fg-alert: var(--color-yellow-500);
    --color-fg-warning-secondary: var(--color-orange-400);
    --color-fg-warning: var(--color-orange-500);
    --color-fg-success-secondary: var(--color-green-400);
    --color-fg-success: var(--color-green-600);
    --color-fg-error-secondary: var(--color-red-400);
    --color-fg-error: var(--color-red-500);
    --color-surface-overlay: var(--color-neutral-900);
    --color-surface-hovered: var(--color-neutral-800);
    --color-surface-purple-tertiary: var(--color-neutral-500);
    --color-surface-purple-secondary: var(--color-purple-900);
    --color-surface-purple: var(--color-neutral-800);
    --color-surface-info-muted: var(--color-blue-700);
    --color-surface-info-tertiary: var(--color-neutral-500);
    --color-surface-info-secondary: var(--color-blue-900);
    --color-fg-tertiary: var(--color-neutral-500);
    --color-surface-info: var(--color-neutral-800);
    --color-surface-alert-tertiary: var(--color-neutral-500);
    --color-surface-alert-secondary: var(--color-yellow-900);
    --color-surface-alert: var(--color-neutral-800);
    --color-surface-warn-tertiary: var(--color-neutral-500);
    --color-surface-warn-secondary: var(--color-orange-900);
    --color-surface-warn: var(--color-neutral-800);
    --color-fg-secondary: var(--color-neutral-300);
    --colors-surface-success-tertiary: var(--color-neutral-500);
    --colors-surface-success-secondary: var(--color-green-900);
    --color-fg-primary: var(--white);
    --color-bg-overlay: var(--color-neutral-700);
    --colors-surface-success: var(--color-neutral-800);
    --color-surface-danger-tertiary: var(--color-neutral-500);
    --color-surface-danger-secondary: var(--color-red-900);
    --color-surface-danger: var(--color-neutral-800);
    --color-bg-inverse: var(--color-neutral-50);
    --color-bg-purple: var(--color-purple-400);
    --color-surface-error-tertiary: var(--color-neutral-500);
    --color-surface-error-secondary: var(--color-red-900);
    --color-surface-error: var(--color-neutral-800);
    --color-bg-info: var(--color-blue-500);
    --color-surface-muted: var(--color-neutral-900);
    --color-bg-warning: var(--color-orange-500);
    --color-bg-alert: var(--color-yellow-500);
    --color-bg-success: var(--color-green-500);
    --color-surface-tertiary: var(--color-neutral-800);
    --color-surface-secondary: var(--color-neutral-850);
    --color-bg-Error: var(--color-red-500);
    --color-surface-primary: var(--color-neutral-880);
    --color-bg-tertiary: var(--color-neutral-900);
    --color-bg-secondary: var(--color-neutral-920);
    --color-bg-primary: var(--color-neutral-980);
}
