:root {
    --Color: #FFFFFF;
    --color-surface-primary-inverse: var(--color-neutral-100);
    --color-interaction-muted: var(--color-neutral-800);
    --color-interaction-tertiary: var(--color-yellow-500);
    --color-interaction-secondary: var(--color-purple-500);
    --color-interaction-primary: var(--color-blue-500);
    --color-placeholder-muted: var(--color-neutral-800);
    --color-placeholder-primary: var(--color-neutral-700);
    --color-border-divider: var(--color-neutral-800);
    --color-border-purple: var(--color-purple-700);
    --color-border-warn: var(--color-green-900);
    --color-border-alert: var(--color-yellow-900);
    --color-border-error: var(--color-red-500);
    --color-border-success: var(--color-green-900);
    --color-border-hovered: var(--color-neutral-500);
    --color-border-focus: var(--color-neutral-100);
    --color-border-tertiary: #FFFFFF;
    --color-border-inverse: var(--color-neutral-250);
    --color-border-secondary: var(--color-neutral-700);
    --color-border-primary: var(--color-neutral-800);
    --color-fg-yellow: #FFFFFF;
    --colo-fg-purple: #FFFFFF;
    --color-fg-orange: #FFFFFF;
    --color-fg-red: #FFFFFF;
    --color-fg-blue: #FFFFFF;
    --color-fg-green: var(--color-green-50);
    --color-fg-overlay: #FFFFFF;
    --color-fg-inverse: var(--color-neutral-950);
    --color-fg-muted: var(--color-neutral-800);
    --color-fg-purple-secondary: var(--color-purple-400);
    --color-fg-purple: var(--color-purple-500);
    --color-fg-info-secondary: var(--color-blue-400);
    --color-fg-info: var(--color-blue-500);
    --color-fg-alert-secondary: var(--color-yellow-400);
    --color-fg-alert: var(--color-yellow-500);
    --color-fg-warning-secondary: var(--color-orange-400);
    --color-fg-warning: var(--color-orange-500);
    --color-fg-success-secondary: var(--color-green-400);
    --color-fg-success: var(--color-green-600);
    --color-fg-error-secondary: var(--color-red-400);
    --color-fg-error: var(--color-red-500);
    --color-surface-overlay: var(--color-neutral-900);
    --color-surface-hovered: var(--color-neutral-800);
    --color-surface-purple-tertiary: var(--color-neutral-500);
    --color-surface-purple-secondary: var(--color-purple-900);
    --color-surface-purple: var(--color-neutral-800);
    --color-surface-info-muted: var(--color-neutral-880);
    --color-surface-info-tertiary: var(--color-neutral-500);
    --color-surface-info-secondary: var(--color-blue-900);
    --color-fg-tertiary: var(--color-neutral-500);
    --color-surface-info: var(--color-neutral-800);
    --color-surface-alert-tertiary: var(--color-neutral-500);
    --color-surface-alert-secondary: var(--color-yellow-900);
    --color-surface-alert: var(--color-neutral-800);
    --color-surface-warn-tertiary: var(--color-neutral-500);
    --color-surface-warn-secondary: var(--color-orange-900);
    --color-surface-warn: var(--color-neutral-800);
    --color-fg-secondary: var(--color-neutral-300);
    --colors-surface-success-tertiary: var(--color-neutral-500);
    --colors-surface-success-secondary: var(--color-green-900);
    --color-fg-primary: var(--white);
    --colors-surface-success: var(--color-neutral-800);
    --color-surface-danger-tertiary: var(--color-neutral-500);
    --color-surface-danger-secondary: var(--color-red-900);
    --color-surface-danger: var(--color-neutral-800);
    --color-surface-error-tertiary: var(--color-neutral-500);
    --color-surface-error-secondary: var(--color-red-900);
    --color-surface-error: var(--color-neutral-800);
    --color-surface-muted: var(--color-neutral-900);
    --color-surface-tertiary: var(--color-neutral-800);
    --color-surface-secondary: var(--color-neutral-850);
    --color-surface-primary: var(--color-neutral-880);
    --color-border-innovative-muted: var(--color-purple-900);
    --color-border-innovative-emphasis: var(--color-purple-600);
    --color-border-innovative-base: var(--color-purple-400);
    --color-border-alert-muted: var(--color-orange-900);
    --color-border-alert-emphasis: var(--color-orange-600);
    --color-border-alert-base: var(--color-orange-400);
    --color-border-info-muted: var(--color-blue-900);
    --color-border-info-emphasis: var(--color-blue-600);
    --color-border-info-base: var(--color-blue-400);
    --color-border-positive-muted: var(--color-green-900);
    --color-border-caution-emphasis: var(--color-yellow-600);
    --color-border-caution-base: var(--color-yellow-400);
    --color-border-positive-emphasis: var(--color-green-600);
    --color-border-positive-base: var(--color-green-400);
    --color-border-negative-muted: var(--color-red-900);
    --color-border-negative-emphasis: var(--color-red-600);
    --color-border-negative-base: var(--color-red-400);
    --color-border-cool-muted: var(--color-neutral-700);
    --color-border-cool-emphasis: var(--color-neutral-500);
    --color-border-cool-base: var(--color-neutral-600);
    --color-border-primary-inverse: var(--color-neutral-50);
    --color-border-primary-subdued: var(--color-neutral-900);
    --color-border-primary-depth: var(--black);
    --color-border-primary-base: var(--color-neutral-920);
    --color-fg-innovative-alt-muted: var(--color-neutral-700);
    --color-fg-innovative-muted: var(--color-purple-900);
    --color-fg-innovative-alt-emphasis: var(--color-neutral-500);
    --color-fg-innovative-emphasis: var(--color-purple-600);
    --color-fg-innovative-alt-base: var(--color-neutral-600);
    --color-fg-innovative-base: var(--color-purple-500);
    --color-fg-alert-alt-muted: var(--color-neutral-700);
    --color-fg-alert-muted: var(--color-orange-900);
    --color-fg-alert-alt-emphasis: var(--color-neutral-500);
    --color-fg-alert-emphasis: var(--color-orange-600);
    --color-fg-alert-alt-base: var(--color-neutral-600);
    --color-fg-alert-base: var(--color-orange-500);
    --color-fg-info-alt-muted: var(--color-neutral-700);
    --color-fg-info-muted: var(--color-blue-900);
    --color-fg-info-alt-emphasis: var(--color-neutral-500);
    --color-fg-info-emphasis: var(--color-blue-600);
    --color-fg-info-alt-base: var(--color-neutral-600);
    --color-fg-info-base: var(--color-blue-500);
    --color-fg-positive-alt-muted: var(--color-neutral-700);
    --color-fg-caution-muted: var(--color-yellow-900);
    --color-fg-caution-alt-emphasis: var(--color-neutral-500);
    --color-fg-caution-emphasis: var(--color-yellow-600);
    --color-fg-caution-alt-base: var(--color-neutral-600);
    --color-fg-caution-base: var(--color-yellow-500);
    --color-fg-positive-muted: var(--color-green-900);
    --color-fg-positive-alt-emphasis: var(--color-neutral-500);
    --color-fg-positive-emphasis: var(--color-green-600);
    --color-fg-positive-alt-base: var(--color-neutral-600);
    --color-fg-positive-base: var(--color-green-500);
    --color-fg-negative-alt-muted: var(--color-neutral-700);
    --color-fg-negative-muted: var(--color-red-900);
    --color-fg-negative-alt-emphasis: var(--color-neutral-500);
    --color-fg-negative-emphasis: var(--color-red-600);
    --color-fg-negative-alt-base: var(--color-neutral-600);
    --color-fg-negative-base: var(--color-red-500);
    --color-fg-cool-muted: var(--color-neutral-700);
    --color-fg-cool-emphasis: var(--white);
    --color-fg-cool-base: var(--white);
    --color-fg-primary-inverse: var(--color-neutral-920);
    --color-fg-primary-subdued: var(--color-neutral-600);
    --color-fg-primary-depth: var(--white);
    --color-fg-primary-base: var(--color-neutral-400);
    --color-bg-innovative-muted: var(--color-purple-900);
    --color-surface-innovative-emphasis: var(--color-neutral-800);
    --color-surface-innovative-base: var(--color-neutral-850);
    --color-surface-alert-muted: var(--color-neutral-880);
    --color-surface-alert-emphasis: var(--color-neutral-800);
    --color-surface-alert-base: var(--color-neutral-850);
    --color-surface-info-emphasis: var(--color-neutral-800);
    --color-surface-info-base: var(--color-neutral-850);
    --color-surface-caution-muted: var(--color-neutral-880);
    --color-surface-caution-emphasis: var(--color-neutral-800);
    --color-surface-caution-base: var(--color-neutral-850);
    --color-surface-positive-muted: var(--color-neutral-880);
    --color-surface-positive-emphasis: var(--color-neutral-800);
    --color-surface-positive-base: var(--color-neutral-850);
    --color-surface-negative-muted: var(--color-neutral-880);
    --color-surface-negative-emphasis: var(--color-neutral-800);
    --color-surface-negative-base: var(--color-neutral-850);
    --color-surface-cool-muted: var(--color-neutral-820);
    --color-surface-cool-emphasis: var(--color-neutral-700);
    --color-surface-cool-base: var(--color-neutral-800);
    --color-surface-primary-subdued: var(--color-neutral-800);
    --color-surface-primary-depth: var(--color-neutral-880);
    --color-surface-primary-base: var(--color-neutral-850);
    --color-bg-innovative-emphasis: var(--color-purple-600);
    --color-bg-innovative-base: var(--color-purple-500);
    --color-bg-alert-muted: var(--color-orange-900);
    --color-bg-alert-emphasis: var(--color-orange-600);
    --color-bg-alert-base: var(--color-orange-500);
    --color-bg-info-muted: var(--color-blue-900);
    --color-bg-info-emphasis: var(--color-blue-600);
    --color-bg-info-base: var(--color-blue-500);
    --color-bg-caution-muted: var(--color-yellow-900);
    --color-bg-caution-emphasis: var(--color-yellow-600);
    --color-bg-caution-base: var(--color-yellow-500);
    --color-bg-positive-muted: var(--color-green-900);
    --color-bg-positive-emphasis: var(--color-green-600);
    --color-bg-positive-base: var(--color-green-500);
    --color-bg-negative-muted: var(--color-red-900);
    --color-bg-negative-emphasis: var(--color-red-600);
    --color-bg-negative-base: var(--color-red-500);
    --color-bg-cool-muted: var(--color-neutral-700);
    --color-bg-cool-emphasis: var(--color-neutral-500);
    --color-bg-cool-base: var(--color-neutral-600);
    --color-bg-primary-inverse: var(--color-neutral-50);
    --color-bg-primary-subdued: var(--color-neutral-900);
    --color-bg-primary-depth: var(--black);
    --color-bg-primary-base: var(--color-neutral-920);
}